body{
    margin: 0;
    background: rgb(125,126,125);
    background: -moz-linear-gradient(-45deg,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
    background: linear-gradient(135deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 );


}

img{
    max-width:100%;
    max-height:100%;
}

a{
    text-decoration: none;
    color: #eaeae1;
}

a:hover{
    color: white;
}

a:active{
    color: #00CC00;
}

h3{
    margin: 5px;
}

.headboard{
    display: inline-flex;
    width: 100%;
    height: 125px;
    background: #4c4c4c;
    background: -moz-linear-gradient(-45deg,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    background: -webkit-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    background: linear-gradient(135deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 );
    border-bottom: 2px black groove;

}

.title{
    margin-top: 10px;
    position: relative;
    height: 50px;
    left: 18px;
}

.nav-list{
    margin-top: auto;
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    color: #eaeae1;
    width: 100%;
    text-align: center;
    margin-left: -250px;
}

.nav-list li{
    border: 2px solid;
    padding: 5px;
    margin-left: 5px;
    width:100px;
}

.main{
    display: inline-flex;
    margin: 10px;
    width: 98%;
}

.container{
    display: inline-block;
    width: 600px;
    border: 2px outset;
    background: rgb(252,255,244);
    background: -moz-linear-gradient(-45deg,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%);
    background: linear-gradient(135deg,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=1 );

}

.perm_img, .user_img, .role_img{
    float: right;
    right: 0;
    width: 20px;
    margin-right: 20px;
}

.perm_list, .user_list, .role_list{
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    max-width: 90%;
    width: 100%;
}

.perm_element, .user_element, .role_element{
    width: 100%;
    margin-bottom: 2px;
}