#main{
    width:85%;
    margin:1% auto;
    font-family:raleway;
}

span{
    color:red;
}

label{
    font-family: raleway;
}

h2{ font-family: raleway;
    text-align:center;
    border-radius: 10px 10px 0 0;
    margin: -10px -40px;
    padding: 30px;
}

#login{
    position: relative;
    width:60%;
    left:17%;
    font-family:raleway;
    margin-top: 70px;
}

input[type=text],input[type=password], input[type=email], input[type=input], textarea{
    width:99.5%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    font-family:raleway;
}

textarea{
    height:25%;
}

input[type=submit]{
    width: 100%;
    background-color:#EF66FE;
    color: white;
    padding: 10px;
    font-size:20px;
    cursor:pointer;
    margin-bottom: 15px;
}

#profile{
    position: relative;
    font-family: raleway;
    left: 20%;
    text-align: justify;
}

#logout{
    float:right;
    padding:5px;
    border:dashed 1px gray;
    margin-top: -168px;
}

a{
    text-decoration:none;
    color: cornflowerblue;
}

i{
    color: cornflowerblue;
}

.error_msg{
    color:red;
    font-size: 16px;
    font-family: raleway;
}

.message{
    position: relative;

    font-weight: bold;
    font-size: 28px;
    color: #6495ED;
    left:40%;
    width: 175px;
    text-align: center;
    margin-top: 5%;
}

#post_text{
    text-align: justify;
    position: relative;
    width:65%;
    left:20%;
    font-family:raleway;
}

#welcome{
    position: relative;
    font-size: 28px;
    left: 25%;
}